version: '3.6'

{% from 'macros.j2' import deploy_replicas, environment, link_secrets, secrets, link_configs, configs, dns, ingress_traefik_labels %}

services:
  {{ frontend.name|d('frontend') }}:
    image: {{ frontend.image }}
    {{ deploy_replicas(frontend.deploy, ingress.frontend) }}

    environment:
      LOGGING_LEVEL: 'info'
      {{ environment(frontend.env) }}

    {{ dns() }}

    networks:
      global_ingress_network:
        aliases:
          - {{ ingress.frontend.alias }}

    {{ link_secrets(frontend.secrets) }}
    {{ link_configs(frontend.configs) }}

  {{ backend.name|d('backend') }}:
    image: {{ backend.image }}
    {{ deploy_replicas(backend.deploy, ingress.backend) }}

    environment:
      CLIENT_IP_FORWARD_HEADER: 'x-forwarded-for'
      THROTTLER_INTERVAL: '20000'
      THROTTLER_MAX: '100'
      {{ environment(backend.env) }}

    {{ dns() }}

    networks:
      {% if redis_network -%}
      redis:
      {% endif %}

      {% if mongo_network -%}
      mongo:
      {% endif %}

      {% if authverify_network -%}
      authverify:
      {% endif %}

      global_ingress_network:
        aliases:
          - {{ ingress.backend.alias }}

    {{ link_secrets(backend.secrets) }}
    {{ link_configs(backend.configs) }}

networks:
  {% if redis_network -%}
  redis:
    external: true
    name: {{ redis_network }}
  {%- endif %}

  {% if mongo_network -%}
  mongo:
    external: true
    name: {{ mongo_network }}
  {%- endif %}

  {% if authverify_network -%}
  authverify:
    external: true
    name: {{ authverify_network }}
  {%- endif %}

  global_ingress_network:
    external: true
    name: global_ingress_network

{% if frontend.secrets or backend.secrets -%}
secrets:
  {{ secrets(frontend.secrets) }}
  {{ secrets(backend.secrets) }}
{%- endif %}

{% if frontend.configs or backend.configs -%}
configs:
  {{ configs(frontend.configs) }}
  {{ configs(backend.configs) }}
{%- endif %}
