version: '3.6'

{% from 'macros.j2' import deploy_replicas, environment, link_secrets, secrets, link_configs, configs %}

services:
  mongo-1: &mongo-common
    image: {{ mongo.image }}
    command: mongod --bind_ip_all --smallfiles --auth --keyFile /etc/secret_mongo_shared_key --replSet replica
    {{ deploy_replicas(mongo1.deploy) }}

    environment: &mongo-envs
      {{ environment(mongo.env) }}
      {{ environment(mongo1.env) }}
      MONGO_INITDB_ROOT_USERNAME: 'root'
      MONGO_INITDB_DATABASE: 'mongo'
      MONGO_INIT_PRIMARY_NODE: 'mongo-1:27017'
      MONGO_INIT_SECONDARY_NODES: 'mongo-2:27017 mongo-3:27017'
      MONGO_INIT_ARBITRATOR_NODES: ''
      MONGO_SELF: 'mongo-1:27017'
    volumes:
      - mongo-1:/data
    networks:
      network:
        aliases:
          - mongo-1
    {{ link_secrets(mongo.secrets) }}
    {{ link_configs(mongo.configs) }}

  mongo-2:
    << : *mongo-common
    {{ deploy_replicas(mongo2.deploy) }}
    environment:
      << : *mongo-envs
      {{ environment(mongo2.env) }}
      MONGO_INIT_MODE: secondary
      MONGO_SELF: 'mongo-2:27017'
    volumes:
      - mongo-2:/data
    networks:
      network:
        aliases:
          - mongo-2

  mongo-3:
    << : *mongo-common
    {{ deploy_replicas(mongo3.deploy) }}
    environment:
      << : *mongo-envs
      {{ environment(mongo3.env) }}
      MONGO_INIT_MODE: arbitrator
      MONGO_SELF: 'mongo-3:27017'
    volumes:
      - mongo-3:/data
    networks:
      network:
        aliases:
          - mongo-3

networks:
  network:
    labels:
      com.sercrettech.stack.type: 'mongo'
    attachable: true
    driver: overlay

volumes:
  mongo-1:
  mongo-2:
  mongo-3:

{% if mongo.secrets or mongo1.secrets or mongo2.secrets or mongo3.secrets -%}
secrets:
  {{ secrets(mongo.secrets) }}
  {{ secrets(mongo1.secrets) }}
  {{ secrets(mongo2.secrets) }}
  {{ secrets(mongo3.secrets) }}
{%- endif %}

{% if mongo.configs or mongo1.configs or mongo2.configs or mongo3.configs -%}
configs:
  {{ configs(mongo.configs) }}
  {{ configs(mongo1.configs) }}
  {{ configs(mongo2.configs) }}
  {{ configs(mongo3.configs) }}
{%- endif %}
